<div class="row">
    
    <table class="table table-striped" id="Albums">
        <caption>Lista de Albums</caption>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Album</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section scripts
{
    <script>
    $(document).ready(function () {
        $.ajax({
            method: 'GET',
            url: '@Url.Content("~/api/Albums")'
        }).done(function (data) {
            $.each(data, function (index, item) {
                var tr = $("<tr>");
                tr.append($("<th>").attr("scope", "row").text(item.id));
                tr.append($("<td>").addClass("album").attr("album-id", item.id).text(item.title));
                tr.append($("<td>").append($("<button>").addClass("btn btn-primary").text("Visualizar Álbum").click(function () {
                    $.ajax({
                        method: 'GET',
                        data: { id: item.id },
                        url: '@Url.Content("~/api/Albums")'
                    }).done(function (photos) {
                        $('.album div').replaceWith("");
                        var div = $("<div>").css('margin-top', '20px').css('background-color', '#fff');
                        $.each(photos, function (index, photo) {
                            div.append($("<div>")
                                .attr("id", "div-image" + photo.id)
                                .css("border", "solid 1px #0c0c0c")
                                .append("<h1>" + photo.title + "</h1>")
                                .append("<p>")
                                .append($('<img>').attr('src', photo.thumbnailUrl))
                                .append("<br>")
                                .append($('<a>')
                                    .attr("href", "#")
                                    .text("Mostrar comentarios")
                                    .click(function (e) {
                                        e.preventDefault();
                                        $.ajax({
                                            method: 'GET',
                                            data: { id: photo.id },
                                            url: '@Url.Content("~/api/Comments")'
                                        }).done(function (comments) {
                                            $.each(comments, function (index, comment) {
                                                var divComment = $("<div>")
                                                    .css("border", "solid 1px #000")
                                                    .append($("<p>").text(comment.name))
                                                    .append($("<p>").text(comment.email))
                                                    .append($("<p>").text(comment.body));
                                                $("#div-image" + comment.postId).append(divComment);
                                            });
                                        });
                                    })));
                        });
                        $('[album-id="' + item.id + '"]').append($(div));
                    });

                })));
                $("#Albums > tbody").append(tr);
            });
        });
    });
    </script>
}